version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    platform: linux/amd64   # M4에서 안정적
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

  redis:
    image: redis:7.2
    container_name: redis
    platform: linux/amd64   # ARM에서 Redis도 amd64가 안정적
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped

volumes:
  mysql_data:
  redis_data:
